*{
  margin:0;
  padding:0;
}
body{
  font-family: inherit;
}
/* Header CSS */
.header{
 margin-top:70px;
 margin-left:140px;
 display: flex;
}
.header h1{
  font-weight:700;
  font-size:50px;
}
.header h2{
  margin-top:20px;
  margin-left:13px ;
  color:#04175A;
   font-size:30px;
}
/* Header CSS */
/* Name CSS section */
.parental{
  display:flex;
  margin-top:66px;
}
/* First Name section */
.container_1{
  margin-left:140px ;
  border-radius:5px;
}
.container_1 input{
  width:300px;
  height:40px ;
}
/* First Name section */
/* Last Name Section */
/* Last Name Section */
/* Name CSS section */
/* Address CSS */
.address_section{
  margin-left:140px;
  margin-top:60px;
  margin-bottom:50px;
}
.address_section input{
  width:80%;
  height: 200px;
}
/* Address CSS */